h1 { 
        text-align: center;
        background-image:url('https://i.pinimg.com/originals/72/d8/a0/72d8a0c9c1668141ca363e32223646a4.gif');
        background-position: ;
        color: aliceblue;
} 

header {
        text-align: center;
}