html{
    text-align: center;
}
h1{
    color: white;
    font-size: 200px;
}
p1{
    color: white;
}
p{
    color: black
}
p2{
    color: white;
}
h2{
    font-size: 30px;
}
h3{
    font-size: 50px;
}
h5{
    font-size: 20px;
}

.back {
    position: absolute;
    bottom: 0;
    left: 0;
}
option {
        text-align:right; 
        display: flex;  
}
.next {
    position: absolute;
    bottom: 0;
    right: 0;
}
img{
    border-radius: 50px;
}
form {
    height: 200px;
    margin: auto;
    position: relative;
    color: whitesmoke;
}